# Sistema operativo
.DS_Store
Thumbs.db

# Temporales
*.tmp
*.temp
*~

# Node (si aplica)
node_modules/

# CLASP (archivos de configuracion local)
.clasp.json
.clasprc.json

# IDE
.idea/
.vscode/
*.swp
